.carousel-page {
    @include flex(row, center, center);
    // background-color: white;
    // margin: 5em;
    // padding: 2em;
    // width: 100vw; DOESNT WORK FOR MODALS
}

.carousel {
    margin: 5rem 0;
    height: auto;
}

.carousel-inner {
    margin: 1rem;
    color: $secondary-color;
    // padding: 1rem calc(100vmin/5);
    max-width: calc(100vw - 100vw/4);
    -webkit-transition: 2s ease-in-out left;
    -moz-transition: 2s ease-in-out left;
    -o-transition: 2s ease-in-out left;
    transition: 2s ease-in-out left;
}


.carouselSlideImage {
    height: 100%;

    // @media (max-width: 576px) {
    //     height: 40vh;
    //     width: 100%;
    //     object-fit: contain;
    //     object-position: 50% 50%;
    // }
}

.carousel-item {
    background-position: center;
}

// artist writing
.carousel-caption {
    position: absolute;
    top: unset;
}

.carousel-indicators {
    bottom: -5rem;
    z-index: 1;
}



.carousel-control-next, .carousel-control-prev {
    top:100%;
    bottom: -5rem;
    // width: 80%;
}



.poster-container {
    // width: 100vw;
    height: 100%;
    @include flex(row,center, flex-end);
    text-align: right;
    @media (max-width:768px) {
        height: 35vw;
    }
    // @media (max-width: 576px) {
    //     margin-bottom: 10px;
    //     max-height: 300px;
    // }
}

.poster {
    min-height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: center;
    justify-items: center;
    border: none;
    margin-bottom: 0.5em;
}