.carousel-page {
    @include flex(row, center, center);
    // background-color: white;
    // margin: 5em;
    // padding: 2em;
    // width: 100vw; DOESNT WORK FOR MODALS
}

.carousel {
    margin: 5rem 0;
    height: auto;
}

.carousel-inner {
    padding: 1rem;
    color: $secondary-color;
    // padding: 1rem calc(100vmin/5);
    // max-width: calc(100vw - 100vw/4);
    -webkit-transition: 2s ease-in-out left;
    -moz-transition: 2s ease-in-out left;
    -o-transition: 2s ease-in-out left;
    transition: 2s ease-in-out left;
}


// .carouselSlideImage {
// height: 100%;

// @media (max-width: 576px) {
//     height: 40vh;
//     width: 100%;
//     object-fit: contain;
//     object-position: 50% 50%;
// }
// }

.carousel-item {
    background-position: center;
}

// artist writing
// .carousel-caption {
//     position: absolute;
//     top: unset;
// }

.carousel-indicators {
    top: -5rem;
    z-index: 1;
    height: fit-content;
}

.carousel-control-next,
.carousel-control-prev {
    top: -5rem;
    bottom: unset;
}






.poster-container {
    @include flex(row, center, flex-end);
    text-align: right;
    border: none;
}
.poster {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    @media (max-width:768px) {
        background-position: center;
        aspect-ratio: 2;
        margin-bottom: 2rem;
    }
    @media (max-width: 576px) {
    }
}
