.index-page {
    @include flex(row, flex-start, flex-start);
    // background-color: white;
    // margin: 5em;
    padding: 2em;
    // width: 100vw; DOESNT WORK FOR MODALS
}

.container-grid {
    max-width: 500px;
    margin: 1rem;
    // background-color: white;
    width: -webkit-fill-available;
}
.container-fluid{
    @include flex(row,center, center);
    // padding: 5rem 0;
}

.container-exp{
    max-width: 1000px;
    padding: 2rem;
    // padding: 0;
    // background-color: white;
    // width: -webkit-fill-available;
}
.rails {
    max-height: 25rem;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    padding: 1rem;
    color: $secondary-color;
}

.icons {
    height: 200px;
}

.items-list {
    color: $secondary-color;
    // padding: 2rem 0;
    .single-container {
        text-decoration: none;
        color: black;
        text-align: -webkit-center;
        // padding-bottom: 5em;
        box-shadow: 10px;
        // width: auto;
        
        .thumbnail {
            text-align: right;
            height: 90%;
            width: 90%;
            border: 10px solid;
            background-color: $background-color;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            justify-items: center;
            border: none;
            margin-bottom: 0.5em;
        }


        h5,
        p {
            margin: 0;
        }
    }
}

.logo-container {
    text-align: end;
    padding-right: 2rem;
    @media (max-width:767px) {
        display: none;
    }
}

.logo {
    max-width: 15rem;
    max-height: 18rem;
    background-size: contain;
}

.skill-list {
    @include flex(row,flex-start,flex-start);
}