* {
    box-sizing: border-box;
    font-family: 'Termina Test', sans-serif;
    margin: 0;
}

html {
    font-size: 12px;
    // width:;
}

body{
    // width: auto;
}

main {
    margin-top: 40px;
    // background-image: url("../images/PP.jpg");
    // background-size: cover;
    // background-repeat: no-repeat; 
}

.page {
    @include flex(column, center, center);
    // padding: 2rem 0rem;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom:10rem;
    background-color: $background-color;
    min-height: fit-content;
    // z-index: -;
    position: relative;
}

.section-title {
    text-align: center;
    // text-decoration: underline;
    font-size: 4rem;
    color: $primary-color;
    padding: 1rem 11rem;
    border-bottom: 2px solid $primary-color;
}

.section-sub {
    padding: 2rem;
    text-align: justify;
    color: $secondary-color;
    max-width: 50rem;
}

.justify {
    text-align: justify;
}

// form button {
//     margin: 20px;
//     padding: 6px 40px;
//     @include button(white, $background-color);
// }

// form button:hover {
//     margin: 20px;
//     padding: 6px 40px;
//     @include button($background-color, white);
// }

// .spinner {
//     padding-top: 5em;
//     @include flex(row, center, center);
// }