@import url("https://fonts.cdnfonts.com/css/termina-test");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Roboto:wght@100&display=swap");
h3 {
  font-size: 1.75em;
}

* {
  box-sizing: border-box;
  font-family: "Termina Test", sans-serif;
  margin: 0;
}

:root {
  font-size: 12px;
}

body {
  display: block;
  min-width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  background-color: #fff;
  min-height: -moz-fit-content;
  min-height: fit-content;
  position: relative;
}

.section-title {
  text-align: center;
  font-size: 4rem;
  color: #85c2ac;
  padding: 1rem 11rem;
  border-bottom: 2px solid #85c2ac;
}
@media (max-width: 768px) {
  .section-title {
    padding: 1rem;
    font-size: 6vmin;
  }
}

.section-sub {
  padding: 2rem;
  text-align: justify;
  color: #000;
  max-width: 50rem;
}

.justify {
  text-align: justify;
}

nav {
  background-color: #85c2ac;
  position: sticky;
  top: 0;
  left: 0;
  height: 40px;
}
@media (max-width: 768px) {
  nav {
    height: 240px;
  }
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  line-height: 40px;
}
@media (max-width: 768px) {
  nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
}
nav ul li a {
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}
nav ul li a:hover {
  color: #557b6d;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
  background-color: rgba(0, 0, 0, 0.7);
  mix-blend-mode: hard-light;
}
@media (max-width: 768px) {
  #home {
    height: calc(100vh - 240px);
  }
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #557b6d;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title > div div {
  font-size: 4.5vmin;
  padding: 2vmin 0;
  position: absolute;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 2px solid #557b6d;
  top: 0;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-top div span:first-child {
  font-size: 6.5vmin;
  font-weight: bold;
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.index-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2em;
}

.container-grid {
  max-width: 500px;
  margin: 1rem;
  width: -webkit-fill-available;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-exp {
  max-width: 1000px;
  padding: 2rem 5rem;
}

.rails {
  max-height: 25rem;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  padding: 1rem;
  color: #000;
}

.icons {
  height: 200px;
}

.items-list {
  color: #000;
}
.items-list .single-container {
  text-decoration: none;
  color: black;
  text-align: -webkit-center;
  box-shadow: 10px;
}
.items-list .single-container .thumbnail {
  text-align: right;
  height: 90%;
  width: 90%;
  border: 10px solid;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: center;
  border: none;
  margin-bottom: 0.5em;
}
.items-list .single-container .thumbnail:hover {
  transform: scale(1.04);
}
.items-list .single-container h5,
.items-list .single-container p {
  margin: 0;
}

.logo-container {
  text-align: end;
  padding-right: 2rem;
}
@media (max-width: 767px) {
  .logo-container {
    display: none;
  }
}

.logo {
  max-width: 15rem;
  max-height: 18rem;
  background-size: contain;
}

.skill-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.carousel-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel {
  margin-top: 5rem;
  height: auto;
}

.carousel-inner {
  margin: 1rem;
  color: #000;
  padding: 0 20vw;
  transition: 2s ease-in-out left;
}

.carouselSlideImage {
  height: 100%;
}

.carousel-item {
  background-position: center;
}

.carousel-caption {
  position: absolute;
  top: unset;
}

.carousel-indicators {
  bottom: -1rem;
  z-index: 1;
}

.poster-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}
@media (max-width: 768px) {
  .poster-container {
    height: 35vw;
  }
}

.poster {
  min-height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  justify-items: center;
  border: none;
  margin-bottom: 0.5em;
}/*# sourceMappingURL=main.css.map */